<div>
  <script type="text/ng-template" id="dataModal.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">{{$ctrl.bubble.name}}</h3>
      <h5 class="modal-title">
        Serial number: {{$ctrl.bubble.serialnumber}},
        Latitude: {{$ctrl.bubble.latitude}},
        Longitude: {{$ctrl.bubble.longitude}}
      </h5>
    </div>
    <d3-animated-line-graph data="$ctrl.data.readings" mire-name="$ctrl.data.name"></d3-animated-line-graph>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    </div>
  </script>

  <datamap
    map="mapObject"
    plugins="mapPlugins"
    plugin-data="mapPluginData"
    on-bubble-click="bubbleClicked"
    zoomable>
  </datamap>
</div>
